* {
    margin: 0;
    font-family: Arial;
    border: border-box
}
.title {
    background-color: #F96167;
    height: 100%;
    width: 100%;
    text-align: center;
    color: black;
    margin-top: .6rem;
    font-size: 2.5rem;
}
.navbar {
    height: 100%;
    width: 100%;
    background-color: #101820;
    color: aliceblue;
    margin: 0rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.sub-title {
    margin: 2rem;
    width: 100%;
    background-color: white;
    text-align: center;
    color: red;
    
}
/** tab section **/
.tab-section {
    display: flex;
    justify-content: space-evenly;
}
.box {
    border: .1rem solid black;
    height: 100%;
    width: 100%;
    background-color: white;
}
.box {
    margin-top: 1rem;
    text-align: center;
    color: red;
}
.result-box {
    color: black;
    font-weight: bold;
}
.foot-panel {
    margin-bottom: .2rem;
    height: 100%;
    width: 100%;
    background-color: rgba(204, 183, 220, 0.858);
    text-align: center;
}



